.container {
    display: flex;
    border: 2px solid red;
    margin: 50px; 
  }
  
  .flexDirectionColumn {
    flex-direction: column;
  
  }
  
  .flexDirectionRow {
    flex-direction: row;
    
  }
  
  .item {
    display: flex;
    border: 2px solid green;
    width: 100px;
    height: 100px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    align-items: center;
    /*Align items centers it vertically*/
    justify-content: center;
    /*Justify content aligns it horizontally*/
  }
  
  .item1 {
    flex-grow: 2;
  }
  
  .item2 {
    flex-grow: 1;
  }
  
  .justifyContentFlexEnd {
    justify-content: flex-end;
  }
  
  .justifyContentCenter {
    justify-content: center;
  }
  
  .justifyContentSpaceBetween{
    justify-content: space-between;
  }
  
  .justifyContentSpaceAround {
    justify-content: space-around;
  }
  
  .justifyContentSpaceEvenly {
    justify-content: space-evenly;
  }
  
  p {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
  }