/* Add attributes to change the style of `description.html` */

body {
  font-family: "Helvetica";
  background: #282828;
  color: #91d5eb;
}

header {
  position: sticky;
  background: #282828;
}

section > p,
section > ul > * {
  text-indent: 20px;
  color: white;
}

a:visited {
  color: rgb(165, 120, 216);
  width: 50px;
}
