/* Add attributes to change the style of `index.html` */
h1,
h2 {
  border-width: 5px;
  line-height: 20px;
}

a:visited {
  color: rgb(165, 120, 216);
  width: 50px;
}

#secondpic {
  opacity: 0;
}
#motivate {
  text-align: center;
  font-weight: 700;
}

#skipbutton {
  float: left;
  padding: 20px;
  height: 100px;
}

img {
  padding: 75px 25px;
  width: 250px;
  height: 250px;
  border-radius: 100px;
}

body {
  font-family: "Helvetica";
  background: #282828;
  color: #91d5eb;
}

div.space {
  padding-top: 800px;
}

.topBar {
  position: sticky;
  top: 0;
  padding: 20px;
  font-size: 20px;
  background: #282828;
}

.introText {
  text-align: center;
  font-size: 24px;
}

.first {
  position: sticky;
  padding-top: 52px;
  top: 200px;
}

.second {
  position: sticky;
  top: 300px;
}

.third {
  position: sticky;
  top: 650px;
}

.fourth {
  position: sticky;
  top: 700px;
}

.fifth {
  position: sticky;
  top: 750px;
}

.sixth {
  position: sticky;
  top: 900px;
}

#buttons {
  text-align: center;
  position: sticky;
  top: 796px;
}

button {
  background-color: #95fbff;
  border: none;
  color: rgb(18, 17, 75);
  padding: 10px 25px;
  text-align: center;
  font-size: 16px;
  margin: 30px 20px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}

button:hover {
  opacity: 1;
}
